.THIS .assignbtn{
    float: right !important;
    margin-top: 7px !important;
    margin-right: 16px !important;
}
.THIS .massupdbtn{
    margin-top: 7px !important;
    margin-left: 16px !important;
}
